.portfolio__container {
  display: flex;
  background-color: var(--secondary-background);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

.top__content {
  display: flex;
  margin-top: 3rem;
}

.section__logo p {
  padding: 0.7rem;
  margin-right: 1rem;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  height: 45px;
  background: linear-gradient(
    136.97deg,
    rgba(2, 181, 92, 0.36) 24.14%,
    rgba(2, 181, 92, 0) 104.79%
  );
}

.section__title span {
  font-weight: 700;
  padding: 6px 0;
}

.section__title h2 {
  font-size: 2rem;
  padding: 6px 0;
}

.section__title p {
  font-size: 1rem;
  width: 53%;
  padding: 0 0 1rem 0;
}

.middle__content {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 2rem;
  position: relative;
}

.left_content {
  display: flex;
  flex: 0.5;
}

.middle__content::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  z-index: 10;
}

.left_content img {
  object-fit: contain;
  transition: 0.5s ease-in-out;
}

.portfolio__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 80%;
  margin: 1rem 2.2rem;
}

.portfolio__data__items h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0;
}

.data__item {
  display: flex;
  align-items: center;
}

.final__container {
  width: 100vw;
  min-height: 198px;
  background: #262626;
  padding: 0 2rem;
}

.final__container h3 {
  padding: 1rem 0 1rem 1rem;
}

.contact__action__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.contact__details p {
  font-size: 1.1rem;
  color: var(--primary-color);
  padding-left: 1rem;
  line-height: 2;
}

.contact__details a[href^='tel:'],
.contact__details a[href^='mailto:'] {
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
}

.contact__form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.contact__form__container p {
  padding: 1rem 0;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn {
  animation: pop 1.5s linear infinite;
}

@keyframes pop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px) scale(1.05);
  }

  100% {
    transform: translateY(0);
  }
}

.btn:hover {
  background-color: var(--primary-color);
  transform: scale(1.03);
  color: var(--updaged-secondary-color);
  box-shadow: 0 0 10px 0 var(--border-color);
  border: 2px solid var(--updaged-secondary-color);
}

.btn:active {
  transform: scale(0.97);
}

.modal__container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 15px;
  border: none;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__header h3 {
  padding: 0.2rem 0;
  font-size: 2rem;
  font-weight: 800;
}

.modal__header button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0;
  background-color: var(--updaged-secondary-color);
  color: var(--primary-color);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.modal__header button:hover {
  background-color: var(--primary-color);
  color: var(--updaged-secondary-color);
  transform: scale(1.03);
  box-shadow: 0 0 10px 0 var(--border-color);
  border: 1px solid var(--updaged-secondary-color);
}

.modal__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  width: 300px;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--border-color);
  box-shadow: -4px 0 10px 3px rgba(0, 0, 0, 0.25);
  outline: 1px solid var(--updaged-secondary-color);
}

textarea {
  min-height: 100px;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--updaged-secondary-color);
}

.form__group {
  align-self: flex-start;
}

.form__group button {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 700;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: var(--updaged-secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: -4px 0 10px 3px rgba(0, 0, 0, 0.25);
}

.form__group button:hover {
  transform: skew(-12deg);
}

.form__group button:active {
  transform: scale(0.8);
}

@media (width <= 800px) {
  .top__content {
    flex-direction: column;
  }

  .section__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__title p {
    align-self: flex-start;
    width: 100%;
    padding: 0 0 1rem 0;
  }

  .portfolio__data {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .modal__container {
    top: 40%;
    left: 10%;
  }
}

@media (width <= 652px) {
  .contact__form__container {
    margin-left: 1rem;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .top__content {
    flex-direction: column;
    align-items: center;
  }

  .section__logo p {
    margin: 0 0 1rem 0;
  }

  .section__title p {
    width: 100%;
  }

  .section__title h2 {
    font-size: 1.5rem;
  }

  .middle__content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .portfolio__data__items h3 {
    font-size: 1.3rem;
  }

  .final__container {
    flex-direction: column;
    justify-content: center;
  }
}
