.portfolio__container {
  display: flex;
  background-color: var(--secondary-background);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

.top__content {
  display: flex;
  margin-top: 3rem;
}

.section__logo p {
  padding: 0.7rem;
  margin-right: 1rem;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  height: 45px;
  background:
    linear-gradient(
      136.97deg,
      rgb(2 181 92 / 36%) 24.14%,
      rgb(2 181 92 / 0%) 104.79%
    );
}

.section__title span {
  font-weight: 700;
  padding: 6px 0;
}

.section__title h2 {
  font-size: 2rem;
  padding: 6px 0;
}

.section__title p {
  font-size: 1rem;
  width: 53%;
  padding: 0 0 1rem;
}

.middle__content {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 2rem;
  position: relative;
}

.left_content {
  display: none;
  flex: 0.5;
}

.middle__content::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  border: 1px solid rgb(0 0 0 / 20%);
  margin: 0 auto;
  z-index: 10;
}

.left_content img {
  object-fit: contain;
  transition: 0.5s ease-in-out;
}

.portfolio__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem 1rem 1rem 4rem;
}

.portfolio__data__items h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0;
}

.data__item {
  display: flex;
  align-items: center;
}

.final__container {
  width: 100vw;
  min-height: 198px;
  background: #262626;
  padding: 0 2rem;
}

.final__container h3 {
  padding: 1rem 0 1rem 3.7rem;
}

.contact__action__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 2rem;
  column-gap: 1rem;
}

.contact__details p {
  font-size: 1.1rem;
  color: var(--primary-color);
  padding-left: 1.8rem;
  line-height: 2;
}

.contact__details a[href^='tel:'],
.contact__details a[href^='mailto:'] {
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
}

.contact__form__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.contact__form__container p {
  padding: 1rem 0;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: pop 1.5s linear infinite;
}

@keyframes pop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px) scale(1.05);
  }

  100% {
    transform: translateY(0);
  }
}

.btn:hover {
  background-color: var(--primary-color);
  transform: scale(1.03);
  color: var(--updaged-secondary-color);
  box-shadow: 0 0 10px 0 var(--border-color);
  border: 2px solid var(--updaged-secondary-color);
}

.btn:active {
  transform: scale(0.97);
}

@media (width <= 800px) {
  .top__content {
    flex-direction: column;
  }

  .section__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__title p {
    align-self: flex-start;
    width: 100%;
    padding: 0 0 1rem;
  }

  .left_content {
    display: flex;
  }

  .portfolio__data {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 1rem 0;
  }

  .final__container {
    padding: 0 2rem 0 0;
  }

  .contact__action__container {
    margin: 0 2rem 0 0;
  }

  .final__container h3 {
    padding: 1rem 0 1rem 2rem;
  }
}

@media (width <= 700px) {
  .contact__form__container {
    margin-left: 1rem;
    padding-left: 0.8rem;
    align-items: flex-start;
  }
}

@media screen and (width <= 425px) {
  .top__content {
    flex-direction: column;
    align-items: center;
  }

  .section__logo p {
    margin: 0 0 1rem;
  }

  .section__title p {
    width: 100%;
  }

  .section__title h2 {
    font-size: 1.5rem;
  }

  .middle__content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .portfolio__data__items h3 {
    font-size: 1.3rem;
  }

  .final__container {
    flex-direction: column;
    justify-content: center;
  }
}
