.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(117.45deg, #2f2e41 17.61%, #404556 55.43%);
}

.container > :first-child {
  flex: 0 0 auto;
}

.container > :last-child {
  margin-top: auto;
  flex: 0 0 auto;
}
