.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

.container h1 {
  font-size: 15rem;
  color: var(--updaged-secondary-color);
}

.container button {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: var(--updaged-secondary-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.container button:hover {
  background-color: var(--primary-color);
  color: var(--updaged-secondary-color);
  transform: scale(1.03);
  box-shadow: 0 0 10px 0 var(--border-color);
  border: 1px solid var(--updaged-secondary-color);
}

.container button:active {
  transform: scale(0.97);
}
