nav {
  position: relative;
  margin: 2rem 3rem;
}

nav::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 18px;
  width: 97%;
  height: 1px;
  background: var(--border-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__menu {
  color: var(--secondary-color);
  font-size: 2.5rem;
  cursor: pointer;
}

.nav__menu:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 var(--border-color);
}

.nav__links {
  display: flex;
  padding: 0 0.3rem;
  gap: 2rem;
}

.nav__font {
  font-size: 20px;
  color: var(--primary-color);
  position: relative;
}

.nav__font:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
}

.nav__action__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__action__container a:hover {
  color: var(--secondary-color);
  font-weight: 700;
}

.nav__action__container button {
  background: transparent;
  border: 1px solid var(--secondary-color);
  padding: 0.3rem 0.7rem;
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav__action__container button:hover {
  background-color: var(--primary-color);
  color: var(--updaged-secondary-color);
  box-shadow: 0 0 10px 0 var(--border-color);
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
    flex-direction: column;
    height: 100%;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.3rem;
    gap: 2rem;
  }

  .nav__action__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .active {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
