@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #00fe87;
  --linear-color-one: #2f2e41;
  --linear-color-two: #404556;
  --border-color: #ffffff5c;
  --line-height: 1.5;
  --font-family: 'Sen', sans-serif;
}

#root {
  font-family: var(--font-family);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small__font {
  font-size: 1rem;
}

secondary__font__color {
  color: var(--secondary-color);
}
