*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
  --line-height: 1.5;
  --color-scheme: light dark;
  --color: #ffffffde;
  --background-color: #242424;
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
}
